:root {
    --bg-color: #282828;
    --bg-header-color: gray;
    --bg-main-div-color: #eee;
    --theme-color: deeppink;

    font-family: "Verdana", "Trebuchet MS", sans-serif;
}

body {
    margin: 0;
    background-color: var(--bg-color);
}

body>header {
    background-color: var(--bg-header-color);
    height: 100px;
}

#main-div {
    background-color: var(--bg-main-div-color);
    width: 450px;
    margin: 0 auto;
    position: relative;
    top: -30px;
    border-top: 6px solid var(--theme-color);
    border-radius: 10px;
    padding: 20px;
}

#main-div>h1 {
    text-align: center;
    margin: 5px 0 15px 0;
    font-weight: normal;
}

.field {
    margin-bottom: 20px;
    width: 450px;
}

.field>label {
    font-size: 15px;
    cursor: text;
}

.field.def>select, .field.def>input, .field>textarea {
    padding: 7px;
    border: 3px solid var(--theme-color);
    border-radius: 5px;
    font-size: 17px;
}

.field.def>select {
    width: 450px;
    height: 40px;
}

.field.def>input {
    width: 430px;
    height: 20px;
}


.field.radio>input {
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
}

/* .field.radio>input:checked {
    border-color: var(--theme-color);
    border: 1px solid red;
    color: red;
} */

.field.radio>.radio-label {
    font-size: 16px;
    cursor: pointer;
}

.field>textarea {
    min-width: 430px;
    max-width: 430px;
    min-height: 20px;
}

.button {
    width: 200px;
    height: 40px;
    color: var(--theme-color);
    background: var(--bg-main-div-color);
    border: 3px solid var(--theme-color);
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
}

.button:hover {
    background: var(--theme-color);
    color: var(--bg-main-div-color);
    cursor: pointer;
}

footer {
    color: var(--bg-header-color);
    text-align: center;
}